*{
    margin: 0;
    padding: 0%;
    
    
}
body{
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
    
    color: rgb(251, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}
.outer{
    border-radius: 50%;
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    border-radius: 49%;
    background-color: rgb(9, 7, 7);
    height: 280px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text{
    color: whitesmoke;
    font-size: 40px;
}
.min{
    font-size: 40px;
}
.sec{
    font-size: 30px;
}
.msec{
    font-size: 23px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    
    
}
.btnn{
    height: 40px;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: rgb(245, 245, 246);
    border-style: double;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    
}
.btnn:hover{
    background-color: white;
    color: black;
    
    transform: scale(1.1);
}
.number{
    color: whitesmoke;
    

}
.time-stamp{
    display: inline-block;
    margin-left: 25px;
}
.ltime{
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid  rgb(44, 42, 42) ;
    margin-bottom: 10px;

    
}
.lap{
    height: 100px;
    overflow:auto;
    cursor: pointer;
    list-style: none;
    color: whitesmoke;
    padding: 15px;
    position: relative;


    
}
.lap::-webkit-scrollbar{
    color: black;
    display: none;


}
.button{
    display: block;
    width: 100px;
    height: 30px;
    
    background-color: black;
    color: whitesmoke;
    border: 1px solid white;
    position: fixed;
    z-index: 1000;
    border-radius: 25%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 100px;
    bottom: 35px;
}
.button:hover{
    background-color: white;
    color: black;
}
.display{
    visibility: hidden;
}
.animation-bg {
    background: linear-gradient(-45deg, white,#ee7752,yellow, #e73c7e, #23a6d5, wheat,#23d5ab,rgb(30, 0, 255),rgb(149, 0, 255)
    );
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 